.site_heading{
text-align:center;
margin-top:10px;
margin-bottom:10px;
padding:5px;
background-color:#839284}

.category_options{
display:inline-block;
background-color:blue;
margin:10px;
padding:5px;
border-radius:5px}

.item_part{
width:60%;
background-color:#d3d3d3;}

.item_name{
width:wrap-text;
background-color:#e3d3d3;}
.item_description{
background-color:#d3d3d3;
}

.category_part{
width:25%;
background-color:#71b487;}

.login{
margin:20%}

.heightFull{
min-height:800px;
}